$navbar-height: 4.25rem;
$navbar-height-sm: 2.938rem;
.navbar {
    --navbar-height: #{$navbar-height};
    background: transparent;
    border: none;
    padding: 0;
    min-height: 4.25rem;
    @include media-breakpoint-down(md) {
        --navbar-height: #{$navbar-height-sm};
    }
    .navbar-brand-img {
        width: 6.25rem;
        @include media-breakpoint-down(md) {
            width: 3.125rem;
        }
    }
    min-height: var(--navbar-height);
}
